<!doctype html>
<html>
<head>	
    <link rel="icon" type="image/png" href="recursos/imagenes/favicon.png" type="image/x-icon">
    <title>K I A R A</title>
    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css" />
	<link rel="stylesheet" href="styles/common.css" />
	
    {{{_sections.head}}}    
</head>
<body>
<header>
	<div id="nav">    
    <nav class="navbar navbar-new" role="navigation">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
          <a class="navbar-brand" href="index.html">K I A R A </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right text-center">
              <li class="nav-item active">
                <a class="nav-link" href="index"><i class="service-icon fa fa-home"></i>&nbsp;Inicio</a>
              </li>
                 <li class="nav-item">
                <a class="nav-link" href="listaCuentos"><i class="service-icon fa fa-book"></i>&nbsp;Cuentos</a>
              </li>
              
            </ul>
          </div>
    </nav>
    </nav>
    </div>  
</header>
    
    {{{body}}}
    
    
        <footer>

        <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 text-center">
               <em>ESPOL-EDCOM. Derechos Reservados 2017.  GMS S.A. - KIARA V.1.0.</em>
              </div>
            </div>
        </div>
        </footer>
    
    
</body>
</html>