<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=.5, maximum-scale=.5, minimum-scale=.5" />

    <!--titulo del proyecto-->
    <title>K I A R A</title>
    <link rel="icon" type="image/png" href="recursos/imagenes/favicon.png">
    <link rel="stylesheet" href="styles/style.css" />
	<link rel="stylesheet" href="styles/common.css" />
</head>
<body>
     
    <div class="test"></div>
    <!-- Header Area -->
    <div id="top" class="header">
      <div class="vert-text">
	  <img src="recursos/imagenes/logo.png" alt="Logo" width="340" height="200" class="img-rounded"/>
        <br>
       <!--- DESCRIPCIÓN DE LA PAGINA-->
        <h2>LEE HISTORIAS PARA NIÑOS CON</h2>	 
        <br>
           <h1>K I A R A</h1>
          <br>
        <h3>No hay limitación para disfrutar. 
           Ven, descubre y divierte que te encantará.</h3>	 
       <br>
      <a href="listaCuentos" class="btn btn-top"> CLICK AQU&Iacute;</a>
      </div>
    </div>
    
       <!---///////////////////////////////////////////////////////////////////////////////////-->
            <!-- video de fondo-->
            <div>
            <video id="bgvideo" src= "recursos/video/videoIndex.mp4" autoplay loop muted></video>
            </div>
   
   <!---///////////////////////////////////////////////////////////////////////////////////-->
    <!-- Footer -->
    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
           <em>ESPOL-EDCOM. Derechos Reservados 2017.  GMS S.A. - KIARA V.1.0. <a href="bienvenidos">CREA TU PROPIA HISTORIA</a></em>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->
</body>
</html>