<br />
<div id="winMensaje">
<div>{{titulo}}</div>
<br />
<div>{{mensaje}}</div>
<br />
<div><a  class='men' href="{{href}}"> {{texto}} </a></div>
<br />    
   <!---///////////////////////////////////////////////////////////////////////////////////-->
	<div>
		 <video id="bgvideo" src= "recursos/video/videoIndex.mp4" autoplay loop muted>
		 </video>
     </div>
 
</div>
<br />